/* for index.html, home.html */
html,
body {
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  height: 100%;
}

#welcome, #hometext {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size:3em;
}
#description {
  color: white;
  font-family:  'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 1.3em;
  font-style: italic;
}
.col-sm-6 {
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  font-size:2.5em;
}
.vertical-center {
  background-color: black;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}
.home {
  min-height: 100%;
  min-height: 100vh;
}
.home-row {
  min-height: 25%;
  min-height: 25vh;
  margin-top: 20%;
  margin-top: 20vh;
}
.home-row-2 {
  margin-top: 25%;
  margin-top: 25vh;
}
@media (pointer:coarse) {
    .home-row-2 {
      margin-top:0;
    }
    #welcome, #hometext {
         font-size: 6.6em;
      }
      #description {
        font-size: 4em;
      }
        .menuoptions {
          font-size: 1.8em;
        }
}
.home-col {
  min-height: 25%;
  min-height: 25vh;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  border-bottom: 0.5px solid white;
}
a:visited {
  color: white;
  border-bottom: 0.5px solid white;
}
